#welcomeStatement{
    text-align:justify;
    font-family:sans-serif;
    font-size: 3em;
    margin-left: 15%;
    margin-right: 15%;
}
/*general*/
h1{
    font-family: sans-serif;  
}
a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 0.75em;
}
p{
    font-family: sans-serif;
}
.flex-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*background-color: blue;*/
}

.flex-col{
    width: 50%;
    /*background-color: red;*/
}
.flex-item{
    width: 95%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /*border: 1px solid black;*/
    
}

/*welcome*/
#Name{
    width: 50%;
    padding:0.75em;
    /*border-style: hidden;*/
}
#next{
    padding: 0.75em;
}
/*to do list*/
#todo{
    background-color: #ffc3c1;
}
#todo > h1{
    color: #ad1637;
    font-style: oblique;
}
#inputText{
    width: 50%;
    padding:0.75em;
    /*border-style: hidden;*/
}
#add{
    padding: 0.75em;
}
#list > li{
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bolder;
}

/*qotd*/
#quoteOfTheDay{
    background-color: lightyellow;
}
#quoteOfTheDay > h1{
    color: #d6c406;
    font-style: oblique;
}
#qotd > h3{
    font-family: sans-serif;
}
/*new york times*/
#newYorkTimes{
    background-color: #c1ffc6;
}
#newYorkTimes > h1{
    color: #0f6b07;
    font-style: oblique;
}
#nyt >h2> a{
    text-decoration: underline;
}
